generated_results/
generated_images/
generated_samples/
outputs/
wandb/

*.log
*.pth
*.safetensors
*.pt
*.pkl
*.json
*.jsonl
*.jsonl.gz
*.jsonl.bz2
*.jsonl.xz
*.jsonl.zst
*.err
*.out

*.pyc
*.__pycache__

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.txt
*.pyc
